<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.probonoapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProbonoApp">
        <activity android:name=".guide_third" />
        <activity android:name=".guide_second" />
        <activity android:name=".guide_first" />
        <activity android:name=".Guide_Activity" />
        <activity android:name=".Setting_Activity" />
        <activity android:name=".activity_introduce" />
        <activity android:name=".activity_menu" />
        <activity android:name=".LoadingActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_register" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>